<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PEP check</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>

 <h1>KYC</h1>
 <a href="{% url 'PEP' %}"> PEP</a>
<a href="{% url 'enheter' %}"> Enheter</a>
    <h2>Søk etter organsiasjon</h2>
    <p>skriv in org nummer</p>
    <form action="" method="get">
        <input type="text" name="org_nummer">
        <button type="submit" value="Search">Search</button>
    </form>
    <br>
    <br>

    {% if error_message %}

    <h3>something went wrong with api call, try again</h3>
    {% else %}

    <div>
           <table class="table">
                    {% for test in data %}
                    <tr>

                        <td>{{test}}</td>
                    </tr>
                    {% endfor %}
            </table>
          </div>

{% endif %}
</body>
</html>